* {
    margin: 0;
    box-sizing: border-box;
    font-family: '標楷體';
    /* margin: auto; */
}

body{
    /* background-color: brown; */
    /* margin: auto; */
}


.header {
    width: 1024px;
    margin: auto;
    height: 65px;
    /* background-color: antiquewhite; */
}

.container {
    margin: auto;
    display: flex;
   
    width: 1024px;
    /* background-color: rgb(62, 143, 214); */
}

.aside {
    /* background-color: aqua; */
    width: 215px;
    height: calc(768px - 65px - 20px);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
   
    /* align-items: center;  */
  
    /* 影響最近更新日期 */
}

.aside-header{
    height: calc(100% - 25px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aside-title{
    font-size: 24px;
    font-weight: 500;
    color:#FF00FF ;
    text-align: center;
    border-bottom: 2px solid black;
}
li{
    list-style:none;
    width: 200px;
    height: 35px;
    color: #000000;
    font-size: 16px;
    background-image: url('../17300-104301/menu1.png');
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -30px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
li:hover{
    background-image: url('../17300-104301/menu2.png');

}

.aside-footer{
    font-size: 16px;
    color: #000000;
    height: 25px;
    text-align: center ;
    background-color: #FF00FF;
 
}

.main{
    /* background-color: black; */
    width: calc(1024px - 215px);
    border: 1px saddlebrown solid;
    
}
.main-header{
    font-size: 24px;
    color:#0000FF;
    height: 29px;
}
.main-footer{
    height: calc(100% - 29px);
  
}
iframe{
    width: 100%;

    height: 100%;
}
.footer{
    margin: auto;
    width: 1024px;
    height: 20px;
 color:#000000;
    border: 1px solid black;    
    text-align: center;
    font-size: 16px;

}
/* ///////////// */
