* {
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden;
     */

}

body {}

.container-box {
    width: 1024px;
    height: 768px;
    margin: auto;
    /* background-color: aquamarine; */
}

.header {
    width: 1024px;
    height: 65px;
    /* background-color: thistle; */
    margin: auto;
    border: 1px solid black;
    border-bottom: 0;
    text-align: center;
    padding-top: 2px;
}

.header>img {}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
    margin: auto;
}

.aside {
    width: 215px;
    height: calc(768px - 65px - 20px);
    /* background-color: red; */
    border: 1px solid black;
    border-right: 0;
    display: flex;
    flex-direction: column;
    font-family: '標楷體';


}

.aside-header {
    /* width: 215px; */
    height: calc(100% - 25px);
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.aside-title {
    /* width: 200px; */
    /* background-color: red; */
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    color: #FF00FF;
    /* text-decoration:underline black;
    text-underline-offset: 10px; */
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.aside-header>.box {
    width: 200px;
    height: 35px;
    /* background-color: aquamarine; */
    background-image: url('../images/menu1.png');
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    /* border: 1px solid black */
    /* border-radius: 10px; */
}

.aside-header>.box:hover {
    background-image: url('../images/menu2.png');
}



.aside-header>.box>a {
    text-decoration: none;
}

.a-first {
    text-decoration: underline;
}

.aside-footer {
    height: 25px;
    font-size: 16px;
    color: #0000FF;
    font-family: '標楷體';
    text-align: center;

    /* background-color: lightblue; */
}


.main {
    width: calc(1024px - 215px);
    /* height: calc(768px - 65px - 20px); */
    /* background-color: green; */
    border: 1px solid black;
}

.main-header {
    /* width: 215px; */
    height: 29px;
    font-size: 24px;
    color: #0000FF;
    font-family: '標楷體';



    /* background-color: lightcyan; */
}

.main-footer {
    height: calc(100% - 29px);
    /* background-color: lightpink; */
}

iframe{
    width: 100%;
    height: 100%;
}


.footer {
    border-top: 0;
    width: 1024px;
    height: 20px;
    /* background-color: blue; */
    margin: auto;
    border: 1px solid black;

}